body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('src/background.png'); /* Arka plan resmi */
    margin: 0;
    padding: 20px;    
    align-items: center;
    background-size: cover; /* Arka planı tam ekran yapar */
    background-position: center; /* Arka planı ortalar */
    background-repeat: repeat-y; /* Arka planın tekrar etmesini engeller */

}

.container {
    background-color: rgba(244, 192, 150, 0.926);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 30px auto;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e37826;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #b04810;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #b04810;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003d82;
}

/* Ekstra stillemeler gerekirse buraya eklenebilir */
